@mixin rotation-flowers {

    @keyframes rotate {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    } 

    animation: rotate 10s infinite linear
}

.story h2 {

    &::after {
        height :155px;
        @include rotation-flowers();
    }
}

#studio h2 {

    &::before {
        @include rotation-flowers()
    }

    &::after {
        @include rotation-flowers()
    } 
}
