// Définition de l'animation
@keyframes AnimationTitre {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.AnimationTitre {
    &__mot {
        opacity: 0;
        animation-name: AnimationTitre; 
        animation-duration: 0.6s;
        animation-iteration-count: 1; 
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        // Animation pour chaque mot avec des délais différents
        &--0 { 
            animation-delay: 0s;
        }

        &--1 {
            animation-delay: 0.2s;
        }

        &--2 {
            animation-delay: 0.4s;
        }
    }
}

